@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgba(0, 0, 0, 0.799);
  color: #fff; 
  font-family: Montserrat;
  padding-top: 150px;
}

.container {
  width: 500px;
  margin: 0 auto;
  background-color: #131111d4;
  padding: 30px;
  border-radius: 11px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  width: 60%;
  height: 35px;
  padding-left: 10px;
  border-radius: 11px;
  border: none;
  outline: none;
  font-size: 14px;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Montserrat;
}

.submit {
  background-color: transparent;
  color: #c61818;
  height: 35px;
}

.clear-completed-btn {
  background-color: transparent;
  color: #c61818;
}

.ul {
  width: 100%;
}

.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 11px;
  margin-bottom: 10px;
  background-color: #2b2b2b;
}

.task-counter {
  margin-bottom: 20px;
  font-size: 14px;
  color: #6c757d;
}

.task-counter span {
  font-weight: bold;
  color: #fff;
}

.task-text {
  flex-grow: 1;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completed .task-text {
  text-decoration: line-through;
  color: #6c757d;
}

.done-btn {
  background-color: transparent;
  color: #28a745;
  transition: all 0.3s;
}

.completed .done-btn {
  background-color: #28a745 !important;
  color: white;
}

.edit-btn {
  background-color: transparent;
  color: #ffc107;
  margin-left: 5px;
}

.delete-btn {
  background-color: transparent;
  color: #dc3545;
  margin-left: 5px;
}

[contenteditable="true"] {
  outline: none; 
  background-color: transparent; 
  border: none; 
  padding: 0; 
}